@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

.dropdown.action-button {
  display: inline-block;

  .dropdown-toggle {
    &.btn {
      outline: 0;
      box-shadow: none;
      display: flex;

      &.btn-empty {
        color: $primary_100;
        padding: 0 10px;
        min-width: 0;
      }

      span {
        width: 4px;
        height: 4px;
        background-color: $primary_100;
        margin: 0 2px;
        border-radius: 4px;
      }

      &:after {
        display: none;
      }
    }

    &:hover {
      &:not([disabled]) {
        background-color: $secondary_20;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    min-width: 0;
    background-color: $light_100;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 10px 40px $shadow_100;

    .dropdown-item {
      line-height: 1;
      padding: 5px 20px;
      height: $input_height;
      display: flex;
      align-items: center;
      font-size: $font_size;
      color: $primary_100;
      border-bottom: 1px solid $secondary_20;
      text-align: left;
      justify-content: flex-start;
      border-radius: 0;
      background-color: $light_100;

      &:hover {
        background-color: $secondary_20 !important;
      }

      &:active {
        background-color: $primary_100 !important;
        color: $white !important;
      }

      i.fas {
        margin-right: 5px;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}
