@import '@/common/styles/colors.scss';

input[type='text'].form-control {
  &:disabled {
    &:hover {
      border-color: $secondary_20;
    }

    color: rgba($secondary_40, 0.5);
    background-color: hsl(0, 0%, 95%);
  }
}

::-webkit-input-placeholder {
  color: rgba($secondary_40, 0.5) !important;
}

::-moz-placeholder {
  color: rgba($secondary_40, 0.5) !important;
}

::-ms-placeholder {
  color: rgba($secondary_40, 0.5) !important;
}

::placeholder {
  color: rgba($secondary_40, 0.5) !important;
}
