@import '@/common/styles/colors.scss';

// Shimmering animation
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.shimmering {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: $light_150;
    background: linear-gradient(
      to right,
      $light_200 8%,
      $light_150 18%,
      $light_200 33%
    );
    background-size: 300% 100%;
  }
}
// Spin animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
