$blue_100: #255897;
$blue_200: #1B4B85;

$white_100: #fff;

$black_20: #E9ECEF;
$black_25: #dde1e6;
$black_40: #868E96;

$orange_100: #EAB927;

$green_50: #D4EDDA;
$green_75: #33DE5A;
$green_100: #155724;

$red_50: #F8D7DA;
$red_75: #F33C4D;
$red_100: #721C24;

$text_primary: $blue_100;
$text_primary_active: $blue_200;
$text_desc: $black_40;
$box_bg_color: $black_20;
$default_border_color: $black_20;