@import './colors.scss';
@import './sizes.scss';

html,
body,
input,
textarea,
select,
table {
  font-family: 'Mulish', sans-serif;
  font-size: $font_size;
  font-weight: 400;
  color: $secondary_40;
}

a,
.link {
  color: $primary_100;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $primary_100;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  position: relative;
  color: $primary_100;
}

h2,
.h2,
h4,
.h4 {
  font-size: $font_size_h2;
  line-height: $font_size_h2 + 2px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

// Generate m and p classes
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.no-wrap-text {
  white-space: nowrap;
}
