// General
$font_size: 14px;
$font_size_h2: 18px;
$font_size_small: 12px;

// Left Panel
$left_panel_expanded: 200px;
$left_panel_collapsed: 55px;

// Status Bar
$status_bar_height: 50px;

// Page Loader
$page_loader_height: 5px;

// Footer
$footer_height: 50px;

$input_height: 40px;
