@import '@/common/styles/colors.scss';

.breadcrumbs {
  display: flex;
  color: $secondary_40;
  align-items: center;
  margin-right: 20px;
  position: relative;

  a {
    color: $primary_100;
  }

  .divider {
    margin: 0 12px;
  }
}