#footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 40px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #E9ECEF;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;

  a {
    color: #255897;
    margin-left: 20px;
  }
}