@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

#footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 40px;
  width: 100%;
  height: $footer_height;
  border-top: 1px solid $secondary_20;
  background: $light_100;
  position: absolute;
  bottom: 0;
  left: 0;

  a {
    margin-left: 20px;
  }
}