@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 40px 0 20px;
  width: calc(100% - 200px);
  height: $footer_height;
  border-top: 1px solid $secondary_20;
  background: $light_100;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4;

  a {
    margin-left: 20px;
  }
}

#app.collapsed {
  #footer {
    width: calc(100% - 55px);
  }
}