#user-widget {
  .toggle {
    .user-avatar {
      margin-right: 10px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    span {
      cursor: pointer;
      padding: 10px 15px;
    }
  }
}
