@import '@/assets/fonts/fontawesome/css/all.min.css';

@import '@shared-ui/common/styles/colors.scss';
@import '@shared-ui/common/styles/default.scss';
@import '@shared-ui/common/styles/animations.scss';
@import '@shared-ui/common/styles/form.scss';
@import '@shared-ui/components/Atomic/PageLoader/PageLoader.scss';
@import '@shared-ui/components/Atomic/Table/Table.scss';
@import '@shared-ui/components/Atomic/Table/Pagination.scss';
//@import '@shared-ui/components/Atomic/Badge/Badge.scss';
//@import '@shared-ui/components/Atomic/Label/Label.scss';
//@import '@shared-ui/components/Atomic/Button/Button.scss';
//@import '@shared-ui/components/new/Select/Select.scss';
@import '@shared-ui/components/Atomic/Editor/Editor.scss';
//@import '@shared-ui/components/new/Toast/Toast.scss';
@import '@shared-ui/components/Atomic/Checkbox/Checkbox.scss';
//@import '@shared-ui/components/Atomic/TextField/TextField.scss';
//@import '@shared-ui/components/Atomic/TreeExpander/TreeExpander.scss';
@import '@shared-ui/components/Atomic/CopyBox/CopyBox.scss';

#app {
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
  overflow: hidden;
}

#content {
  box-sizing: border-box;
}

// Collapsed menu state
#app.collapsed {
  #content {
    margin-left: $left_panel_collapsed;
  }
}

.client-error-message,
.page-loading-text {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.client-error-message {
  background-color: $error_50;
  border: 1px solid $error_100;
  color: $error_100;
}
