@import '~bootstrap/scss/bootstrap';
@import '@/assets/fonts/fontawesome/css/all.min.css';

html,body,input,textarea,select{
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#app {
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

#content {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-left: 200px;
  padding: 80px 0 90px 40px;
  min-height: 100vh;

  &.collapsed {
    margin-left: 55px;
  }
}