@import '~bootstrap/scss/bootstrap';
@import '@/assets/fonts/fontawesome/css/all.min.css';
@import 'react-toastify/dist/ReactToastify.css';

@import '@/common/styles/colors.scss';
@import '@/common/styles/default.scss';
@import '@/common/styles/animations.scss';
@import '@/common/styles/form.scss';
@import '@/components/page-loader/page-loader.scss';
@import '@/components/breadcrumbs/breadcrumbs.scss';
@import '@/components/layout/layout.scss';
@import '@/components/table/table.scss';
@import '@/components/table/pagination.scss';
@import '@/components/badge/badge.scss';
@import '@/components/label/label.scss';
@import '@/components/modal/modal.scss';
@import '@/components/button/button.scss';
@import '@/components/select/select.scss';
@import '@/components/editor/editor.scss';
@import '@/components/toast/toast.scss';
@import '@/components/switch/switch.scss';
@import '@/components/action-button/action-button.scss';
@import '@/components/checkbox/checkbox.scss';
@import '@/components/text-field/text-field.scss';
@import '@/components/tree-expander/tree-expander.scss';
@import '@/components/copy-box/copy-box.scss';

#app {
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
  overflow: hidden;
}

#content {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-left: $left_panel_expanded;
  padding: 80px 40px 90px 40px;
  min-height: 100vh;
  overflow: auto;
}

// Collapsed menu state
#app.collapsed {
  #content {
    margin-left: $left_panel_collapsed;
  }
}

.client-error-message,
.page-loading-text {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.client-error-message {
  background-color: $error_50;
  border: 1px solid $error_100;
  color: $error_100;
}

.test-iframe {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 1000px;
  height: 1000px;
  background: #000;
  z-index: 100000;
}