@import '~bootstrap/scss/bootstrap';
@import '@/assets/fonts/fontawesome/css/all.min.css';
@import 'react-toastify/dist/ReactToastify.css';

@import '@shared-ui/common/styles/colors.scss';
@import '@shared-ui/common/styles/default.scss';
@import '@shared-ui/common/styles/animations.scss';
@import '@shared-ui/common/styles/form.scss';
@import '@shared-ui/components/old/page-loader/page-loader.scss';
@import '@shared-ui/components/old/breadcrumbs/breadcrumbs.scss';
@import '@shared-ui/components/old/layout/layout.scss';
@import '@shared-ui/components/old/table/table.scss';
@import '@shared-ui/components/old/table/pagination.scss';
@import '@shared-ui/components/old/badge/badge.scss';
@import '@shared-ui/components/old/label/label.scss';
@import '@shared-ui/components/old/modal/modal.scss';
@import '@shared-ui/components/old/button/button.scss';
@import '@shared-ui/components/old/select/select.scss';
@import '@shared-ui/components/old/editor/editor.scss';
@import '@shared-ui/components/old/toast/toast.scss';
@import '@shared-ui/components/old/switch/switch.scss';
@import '@shared-ui/components/old/action-button/action-button.scss';
@import '@shared-ui/components/old/checkbox/checkbox.scss';
@import '@shared-ui/components/old/text-field/text-field.scss';
@import '@shared-ui/components/old/tree-expander/tree-expander.scss';
@import '@shared-ui/components/old/copy-box/copy-box.scss';

#app {
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
  overflow: hidden;
}

#content {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-left: $left_panel_expanded;
  padding: 80px 40px 90px 40px;
  min-height: 100vh;
  overflow: auto;
}

// Collapsed menu state
#app.collapsed {
  #content {
    margin-left: $left_panel_collapsed;
  }
}

.client-error-message,
.page-loading-text {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.client-error-message {
  background-color: $error_50;
  border: 1px solid $error_100;
  color: $error_100;
}
