.site-name.can-hide
    display: none

#main-title
    display: none

.hero img
    width: 500px
    height: auto

.home-link img
    width: 90px
    height: auto

.theme-default-content.custom img
    max-width: 120%
    margin: auto
    display: block
    left: 50%
    transform: translateX(-50%)
    position: relative

.home
    max-width: 100%

@media only screen and (max-width: 1152px)
    .theme-default-content.custom img
        max-width: 100%
        left: auto
        transform: none