.site-name.can-hide
    display: none

#main-title
    display: none

.hero img
    width: 500px
    height: auto

.home-link img
    width: 90px
    height: auto

.theme-default-content.custom img
    margin-bottom: 5.0rem
    max-width: 120%
    margin: 5.0rem auto 4.0rem auto
    display: block
    left: 50%
    transform: translateX(-50%)
    position: relative

@media only screen and (max-width: 1152px)
    .theme-default-content.custom img
        max-width: 100%
        left: auto
        transform: none