@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

.status-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - #{$left_panel_expanded});
  height: $status_bar_height;
  background: $light_100;
}

#status-bar {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 40px;
  color: $secondary_40;

  .status-bar-item {
    position: relative;
    margin-left: 30px;

    .toggle {
      display: flex;
      align-items: center;
      height: 50px;
      cursor: pointer;

      i {
        font-size: 10px;
        margin-left: 7px;
        color: $primary_100;
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .content {
      position: absolute;
      top: 100%;
      right: 0;
      background: $light_100;
      box-shadow: 0 10px 20px 0 rgba($shadow_100, 0.5);
    }
  }
}

#status-bar-shadow {
  z-index: 8;
  box-shadow: 0 10px 20px 0 rgba($shadow_100, 0.5);
}

// Collapsed menu state
#app.collapsed {
  .status-bar {
    width: calc(100% - #{$left_panel_collapsed});
  }
}