{{- if .Values.certificateauthority.enabled }}
{{- $cert := "/certs" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "plgd-hub.certificateauthority.configName" . }}
  namespace: {{ .Release.Namespace }}
data:
  {{ .Values.certificateauthority.config.fileName }}: |
    {{- with .Values.certificateauthority }}
    hubID: {{ required "certificateauthority.hubId or global.hubId is required" ( .hubId | default $.Values.global.hubId) | quote }}
    log:
      level: {{ .log.level }}
      dumpBody: {{ .log.dumpBody }}
      encoding: {{ .log.encoding }}
      stacktrace:
        enabled: {{ .log.stacktrace.enabled }}
        level: {{ .log.stacktrace.level }}
      encoderConfig:
        timeEncoder: {{ .log.encoderConfig.timeEncoder }}
    apis:
      grpc:
        address: {{  .apis.grpc.address | default (printf "0.0.0.0:%v" .port) | quote }}
        sendMsgSize: {{ int64 .apis.grpc.sendMsgSize | default 4194304 }}
        recvMsgSize: {{ int64 .apis.grpc.recvMsgSize | default 4194304 }}
        enforcementPolicy:
          minTime: {{ .apis.grpc.enforcementPolicy.minTime }}
          permitWithoutStream: {{ .apis.grpc.enforcementPolicy.permitWithoutStream }}
        keepAlive:
          # 0s - means infinity
          maxConnectionIdle: {{ .apis.grpc.keepAlive.maxConnectionIdle }}
          # 0s - means infinity
          maxConnectionAge: {{ .apis.grpc.keepAlive.maxConnectionAge }}
          # 0s - means infinity
          maxConnectionAgeGrace: {{ .apis.grpc.keepAlive.maxConnectionAgeGrace }}
          time: {{ .apis.grpc.keepAlive.time }}
          timeout: {{ .apis.grpc.keepAlive.timeout }}
        tls:
          {{- $tls := .apis.grpc.tls }}
          {{- include "plgd-hub.internalCertificateConfig" (list $ $tls $cert ) | indent 8 }}
          clientCertificateRequired: {{ .apis.grpc.tls.clientCertificateRequired }}
        authorization:
          {{- $authorization := .apis.grpc.authorization }}
          {{- include "plgd-hub.authorizationConfig" (list $ $authorization "certificateauthority.apis.grpc.authorization" $cert ) | indent 8 }}
      http:
        address: {{  .apis.http.address | default (printf "0.0.0.0:%v" .httpPort) | quote }}
        readTimeout: {{ .apis.http.readTimeout }}
        readHeaderTimeout: {{ .apis.http.readHeaderTimeout }}
        writeTimeout: {{ .apis.http.writeTimeout }}
        idleTimeout: {{ .apis.http.idleTimeout }}
    clients:
      storage:
        cleanUpRecords: {{ .clients.storage.cleanUpRecords | quote }}
        use: {{ include "plgd-hub.useDatabase" (list $ . .clients.storage.use)  | quote }}
        mongoDB:
          uri: {{ include "plgd-hub.mongoDBUri" (list $ .clients.storage.mongoDB.uri )  | quote }}
          database: {{ .clients.storage.mongoDB.database }}
          maxPoolSize: {{ .clients.storage.mongoDB.maxPoolSize }}
          maxConnIdleTime: {{ .clients.storage.mongoDB.maxConnIdleTime }}
          tls:
            {{- $mongoDbTls := .clients.storage.mongoDB.tls }}
            {{- include "plgd-hub.internalCertificateConfig" (list $ $mongoDbTls $cert ) | indent 10 }}
            useSystemCAPool: {{ .clients.storage.mongoDB.tls.useSystemCAPool }}
        cqlDB:
          hosts:
          {{- include "plgd-hub.cqlDBHosts" (list $ .clients.storage.cqlDB.hosts ) | indent 8 }}
          port: {{ .clients.storage.cqlDB.port | default 9142 }}
          table: {{ .clients.storage.cqlDB.table | quote }}
          numConnections: {{ .clients.storage.cqlDB.numConnections }}
          connectTimeout: {{ .clients.storage.cqlDB.connectTimeout }}
          useHostnameResolution: {{ .clients.storage.cqlDB.useHostnameResolution }}
          reconnectionPolicy:
            constant:
              interval: {{ .clients.storage.cqlDB.reconnectionPolicy.constant.interval }}
              maxRetries: {{ .clients.storage.cqlDB.reconnectionPolicy.constant.maxRetries }}
          keyspace:
            name: {{ .clients.storage.cqlDB.keyspace.name }}
            create: {{ .clients.storage.cqlDB.keyspace.create }}
            replication:
              {{- toYaml .clients.storage.cqlDB.keyspace.replication | nindent 14 }}
          tls:
            {{- $cqlDbTls := .clients.storage.cqlDB.tls }}
            {{- include "plgd-hub.internalCertificateConfig" (list $ $cqlDbTls $cert ) | indent 10 }}
            useSystemCAPool: {{ .clients.storage.cqlDB.tls.useSystemCAPool }}
      {{- include "plgd-hub.openTelemetryExporterConfig" (list $ $cert ) | nindent 6 }}
    signer:
    {{- if .signer.caPool }}
      caPool: {{ .signer.caPool | quote }}
    {{- else if $.Values.certificateauthority.ca.ca }}
      caPool: {{ printf "%s/%s" $.Values.certificateauthority.ca.volume.mountPath $.Values.certificateauthority.ca.ca | quote }}
    {{- end }}
      certFile: {{ .signer.certFile | default ( printf "%s/%s" $.Values.certificateauthority.ca.volume.mountPath $.Values.certificateauthority.ca.cert ) | quote }}
      keyFile: {{ .signer.keyFile | default ( printf "%s/%s" $.Values.certificateauthority.ca.volume.mountPath $.Values.certificateauthority.ca.key ) | quote }}
      validFrom: {{ .signer.validFrom | quote }}
      expiresIn: {{ .signer.expiresIn | quote }}
  {{- end }}
{{- end }}
