{{- if .Values.certificateauthority.enabled }}
{{- $customCaDefined := and .Values.certificateauthority.signer.keyFile .Values.certificateauthority.signer.certFile }}
{{- $cert := "/certs" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "plgd-hub.certificateauthority.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "plgd-hub.labels" . | nindent 4 }}
    {{- with .Values.certificateauthority.deploymentLabels }}
    {{- . | toYaml | nindent 4 }}
    {{- end }}
  {{- with .Values.certificateauthority.deploymentAnnotations }}
  annotations:
  {{- . | toYaml | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ include "plgd-hub.replicas" (list $ .Values.certificateauthority.replicas) }}
  selector:
    matchLabels:
      {{- include "plgd-hub.certificateauthority.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.certificateauthority.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "plgd-hub.certificateauthority.selectorLabels" . | nindent 8 }}
    spec:
      automountServiceAccountToken: false
      {{- with .Values.certificateauthority.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.certificateauthority.rbac.enabled }}
      serviceAccountName: {{ .Values.certificateauthority.rbac.serviceAccountName }}
      {{- end }}
      {{- with .Values.certificateauthority.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: {{ .Values.certificateauthority.restartPolicy }}
      {{- if .Values.certificateauthority.initContainersTpl }}
      initContainers:
      {{- tpl .Values.certificateauthority.initContainersTpl . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.certificateauthority.name }}
          {{- with .Values.certificateauthority.podSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "plgd-hub.image" (list . .Values.certificateauthority) | quote }}
          imagePullPolicy: {{ .Values.certificateauthority.image.pullPolicy }}
          {{- if .Values.certificateauthority.command }}
          command:
          {{- range .Values.certificateauthority.command  }}
            - {{ . | quote }}
          {{- end }}
          {{- end }}
          args:
            - "--config"
            - {{  printf "%s/%s" .Values.certificateauthority.config.mountPath .Values.certificateauthority.config.fileName | quote }}
          ports:
            - name: grpc
              containerPort: {{ .Values.certificateauthority.port }}
              protocol: TCP
            - name: http
              containerPort: {{ .Values.certificateauthority.httpPort }}
              protocol: TCP  
          {{- with .Values.certificateauthority.livenessProbe }}
          livenessProbe:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.certificateauthority.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.certificateauthority.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: {{ .Values.certificateauthority.config.volume }}
              mountPath: {{ .Values.certificateauthority.config.mountPath }}
            {{- if ( include "plgd-hub.certificateauthority.createServiceCertByCm" . ) }}
            - name: service-crt
              mountPath: {{ $cert }}
            {{- end }}
            {{- if and ( not $customCaDefined ) .Values.certificateauthority.enabled }}
            - name: {{ .Values.certificateauthority.ca.volume.name }}
              mountPath: {{ .Values.certificateauthority.ca.volume.mountPath }}
            {{- end }}
            {{- include "plgd-hub.extraCAPoolMount" (list . .Values.extraCAPool.authorization) | nindent 12 }}
            {{- include "plgd-hub.extraCAPoolMount" (list . .Values.extraCAPool.internal) | nindent 12 }}
            {{- include "plgd-hub.crlMount" (list . .Values.crl.authorization) | nindent 12 }}
            {{- include "plgd-hub.crlMount" (list . .Values.crl.internal) | nindent 12 }}
            {{- with .Values.certificateauthority.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- if .Values.certificateauthority.extraContainers }}
      {{- include "plgd-hub.tplvalues.render" ( dict "value" .Values.certificateauthority.extraContainers "context" $ ) | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ .Values.resourcedirectory.config.volume }}
          configMap:
            name: {{ include "plgd-hub.certificateauthority.configName" . }}
        {{- if ( include "plgd-hub.certificateauthority.createServiceCertByCm" . ) }}
        - name: service-crt
          secret:
            secretName: {{ include "plgd-hub.certificateauthority.serviceCertName" . }}
        {{- end }}
        {{- if and ( not $customCaDefined ) .Values.certificateauthority.enabled }}
        - name: {{ .Values.certificateauthority.ca.volume.name }}
          secret:
            secretName: {{ .Values.certificateauthority.ca.secret.name | default $.Values.certmanager.default.ca.secret.name }}
        {{- end }}
        {{- include "plgd-hub.extraCAPoolVolume" (list . .Values.extraCAPool.authorization) | nindent 8 }}
        {{- include "plgd-hub.extraCAPoolVolume" (list . .Values.extraCAPool.internal) | nindent 8 }}
        {{- include "plgd-hub.crlVolume" (list . .Values.crl.authorization) | nindent 8 }}
        {{- include "plgd-hub.crlVolume" (list . .Values.crl.internal) | nindent 8 }}
        {{- with .Values.certificateauthority.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.certificateauthority.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.certificateauthority.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.certificateauthority.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
