@import '@/common/styles/colors.scss';

.copy-box {
  display: flex;
  align-items: center;
  text-align: right;
  word-break: break-all;

  .box {
    position: relative;
    cursor: pointer;

    i {
      font-size: 16px;
      color: $primary_100;
    }
  }
}
