@import '@/common/styles/colors.scss';

$index: 28px;
$mainVal: 16px;

.switch-control {
  padding-left: $index + 4px;

  .custom-control-label {
    padding-left: 10px;
    padding-bottom: 0;
  }

  .custom-control-label::before {
    height: $mainVal;
    width: $index;
    left: -$index;
    top: 2px;
    border-radius: $mainVal * 2;
    box-shadow: none !important;
    border-color: $secondary_40;
    background-color: $secondary_40;
  }

  .custom-control-label::after {
    width: $mainVal - 2px;
    height: $mainVal - 2px;
    top: 3px;
    left: -$index + 1px;
    border-radius: $mainVal - 2px;
    background-color: $light_100;
  }

  &.text-left {
    .custom-control-label {
      padding-left: 0;
      padding-right: $index + 12px;
      
      &:before {
        left: auto;
        right: 0;
      }

      &:after {
        left: auto;
        right: 13px;
      }
    }
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX($mainVal - 4px);
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary_100;
    border-color: $primary_100;
  }

  input {
    &:not([disabled]) {
      & ~ label {
        cursor: pointer;
      }

      &:focus,
      &:active {
        &:checked {
          & ~ .custom-control-label::before {
            border-color: $primary_100;
            background-color: $primary_100;
          }
        }

        &:not(:checked) {
          & ~ .custom-control-label::before {
            border-color: $secondary_40;
            background-color: $secondary_40;
          }
        }
      }
    }
  }

  .custom-control-input {
    &[disabled] {
      &:not(:checked) {
        & ~ .custom-control-label::before {
          border-color: $secondary_40;
          background-color: $secondary_40;
        }

        & ~ .custom-control-label::after {
          background-color: $light_100;
        }
      }

      &:checked {
        & ~ .custom-control-label::before {
          border-color: $primary_100;
          background-color: $primary_100;
        }

        & ~ .custom-control-label::after {
          background-color: $light_100;
        }
      }

      & ~ .custom-control-label::before {
        opacity: 0.5;
      }
    }
  }
}
