@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

div.select__control {
  min-width: 180px;
  color: $secondary_40;
  border-color: $secondary_20;
  outline: 0 !important;
  border-radius: 2px;
  min-height: $input_height;

  &:hover {
    border-color: $secondary_40;
  }

  &.select__control--is-focused {
    border-color: $primary_100;
    box-shadow: none;

    &:hover {
      border-color: $primary_100;
    }
  }

  .select__value-container {
    .select__single-value {
      color: $secondary_40;
    }
  }

  .select__indicators {
    .select__indicator-separator {
      display: none;
    }

    .select__indicator {
      color: $primary_100;
      font-size: 12px;
    }
  }
}

div.select__menu {
  margin-top: 0;

  .select__option {
    cursor: pointer;

    &.select__option--is-focused {
      background-color: $secondary_20;
      color: $primary_100;
    }
    &.select__option--is-selected {
      background-color: $primary_100;
      color: $white;
    }
  }
}

.select--is-disabled {
  div.select__control {
    .select__indicators {
      .select__indicator {
        opacity: 0.5;
      }
    }
  }

  .select__single-value {
    opacity: 0.5;
  }
}
