@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  border-radius: 2px;
  line-height: 1;
  font-size: $font_size;
  outline: 0;
  padding: 0 20px;
  min-width: 100px;
  border: 0;

  // Primary button
  &.btn-primary {
    color: $light_100;
    background-color: $primary_100;

    &.btn-primary:not(:disabled):not(.disabled):hover,
    &.btn-primary:not(:disabled):not(.disabled).hover,
    &.btn-primary:not(:disabled):not(.disabled):active,
    &.btn-primary:not(:disabled):not(.disabled).active,
    &.btn-primary.dropdown-toggle {
      background-color: $primary_200;
      box-shadow: none;
    }

    &:focus,
    &.focus {
      box-shadow: none;
    }
  }

  // Secondary button
  &.btn-secondary {
    color: $primary_100;
    background-color: $secondary_20;

    &.btn-secondary:not(:disabled):not(.disabled):hover,
    &.btn-secondary:not(:disabled):not(.disabled).hover,
    &.btn-secondary:not(:disabled):not(.disabled):active,
    &.btn-secondary:not(:disabled):not(.disabled).active,
    &.btn-secondary.dropdown-toggle {
      background-color: $secondary_25;
      box-shadow: none;
      color: $primary_100;
    }

    &:focus,
    &.focus {
      box-shadow: none;
    }
  }

  &.loading {
    .fa-spinner {
      animation: spin 0.9s linear infinite;
    }
  }
}
