@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

#menu {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 140px);

  .menu-item {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    color: $light_100;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    cursor: pointer;

    &.active,
    &:hover {
      background: $primary_200;
    }

    i {
      font-size: $font_size_small;
    }

    span.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $font_size_small + 2;
      height: $font_size_small + 2;
    }

    span.title {
      margin-left: 10px;
    }

    &.collapse-menu-item {
      position: absolute;
      width: calc(100% - 20px);
      bottom: 10px;
    }
  }
}

// Collapsed menu state
#app.collapsed {
  #menu {
    .menu-item {
      span.title {
        display: none;
      }
    }
  }
}
