#layout {
  position: relative;

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .layout-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
  }

  .layout-content {
    position: relative;
    width: 100%;

    &.split {
      display: flex;
      justify-content: space-between;

      .layout-split-common {
        width: 100%;
        box-sizing: border-box;

        h2 {
          margin-top: 0;
        }
      }

      .layout-left {
        padding: 30px 0;
        margin-right: 20px;
      }

      .layout-right {
        padding: 30px;
        margin-left: 20px;
      }
    }
  }
}
