@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

#left-panel {
  position: fixed;
  display: block;
  width: $left_panel_expanded;
  min-width: $left_panel_expanded;
  height: 100vh;
  background: $text_primary;
  box-sizing: border-box;
  padding: 10px;
  color: $white_100;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 15;

  .logo {
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 50px;

    .logo-big {
      display: block;
      height: 35px;
    }

    .logo-small {
      display: none;
      height: 27px;
    }
  }
}

// Collapsed menu state
#app.collapsed {
  #left-panel {
    width: $left_panel_collapsed;
    min-width: $left_panel_collapsed;

    .logo {
      padding-left: 0;
      padding-top: 5px;
      margin-bottom: 58px;

      .logo-big {
        display: none;
      }

      .logo-small {
        display: block;
      }
    }
  }
}
