@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

$logo_container_height: 35px;

#left-panel {
  position: fixed;
  display: block;
  width: $left_panel_expanded;
  min-width: $left_panel_expanded;
  height: 100vh;
  background: $primary_100;
  box-sizing: border-box;
  padding: 10px;
  color: $light_100;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 15;

  .logo {
    display: block;
    margin: 5px 0 50px 0;
    margin-bottom: 50px;
    height: $logo_container_height;
    max-height: $logo_container_height;

    .logo-big {
      display: block;
      height: $logo_container_height;
      margin-left: 10px;
    }

    .logo-small {
      display: none;
      height: 27px;
    }
  }
}

// Collapsed menu state
#app.collapsed {
  #left-panel {
    width: $left_panel_collapsed;
    min-width: $left_panel_collapsed;

    .logo {
      padding-left: 0;

      .logo-big {
        display: none;
      }

      .logo-small {
        display: block;
      }
    }
  }
}
