@import '@/common/styles/colors.scss';

$table_header_height: 40px;
$table_row_height: 60px;

.plgd-table {
  box-shadow: -10px 0px 40px $shadow_100;
  position: relative;

  table.table {
    color: $secondary_40;
    margin-bottom: 0;
    line-height: 1;

    tr,
    td,
    th {
      border: 0 !important;
      vertical-align: middle !important;
      padding: 0 20px;
      font-weight: 400;
    }

    thead {
      background-color: $secondary_20;

      th {
        height: $table_header_height;

        .th-div {
          display: flex;
          align-items: center;

          .sort-arrows {
            margin-left: 9px;
            display: inline-block;

            i {
              display: flex;
              height: 5px;
              width: 10px;
              align-items: center;
              justify-content: center;
              font-size: 10px;
              color: $primary_100;
            }

            &.asc i.icon-asc,
            &.desc i.icon-desc {
              color: $warning_100;
            }
          }
        }

        // &.selectable-column {
        //   padding-right: 0 !important;
        //   max-width: 16px;
        // }
      }
    }

    tbody {
      tr {
        height: $table_row_height;

        td {
          height: $table_row_height;
        }
      }
    }

    &.table-striped {
      tbody {
        tr:nth-of-type(odd), tr.odd {
          background-color: $light_100;
        }

        tr:nth-of-type(even), tr.even {
          background-color: rgba($secondary_20, 0.4);
        }
      }
    }
  }

  &.with-selectable-rows {
    td:first-child,
    th:first-child {
      padding-right: 0 !important;
    }
  }

  + .table-bottom-controls {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
