hubID: ""
log:
  level: info
  encoding: json
  stacktrace:
    enabled: false
    level: warn
  encoderConfig:
    timeEncoder: rfc3339nano
apis:
  grpc:
    ownerCacheExpiration: 1m
    address: "0.0.0.0:9100"
    sendMsgSize: 4194304
    recvMsgSize: 4194304
    enforcementPolicy:
      minTime: 5s
      permitWithoutStream: true
    keepAlive:
      # 0s - means infinity
      maxConnectionIdle: 0s
      # 0s - means infinity
      maxConnectionAge: 0s
      # 0s - means infinity
      maxConnectionAgeGrace: 0s
      time: 2h
      timeout: 20s
    tls:
      caPool: "/secrets/public/rootca.crt"
      keyFile: "/secrets/private/cert.key"
      certFile: "/secrets/public/cert.crt"
      clientCertificateRequired: true
    authorization:
      ownerClaim: "sub"
      audience: ""
      endpoints:
        - authority: ""
          http:
            maxIdleConns: 16
            maxConnsPerHost: 32
            maxIdleConnsPerHost: 16
            idleConnTimeout: "30s"
            timeout: "10s"
            tls:
              caPool: "/secrets/public/rootca.crt"
              keyFile: "/secrets/private/cert.key"
              certFile: "/secrets/public/cert.crt"
              useSystemCAPool: false
      tokenTrustVerification:
        cacheExpiration: 30s
clients:
  eventBus:
    nats:
      url: ""
      flusherTimeout: 30s
      tls:
        caPool: "/secrets/public/rootca.crt"
        keyFile: "/secrets/private/cert.key"
        certFile: "/secrets/public/cert.crt"
        useSystemCAPool: false
      jetstream: false
      leadResourceType:
        enabled: false
        regexFilter: []
        filter: ""
        useUUID: false
  eventStore:
    # replaces time to live in CreateResource, RetrieveResource, UpdateResource, DeleteResource and UpdateDeviceMetadata commands when it is zero value. 0s - means forever.
    defaultCommandTimeToLive: 0s
    # tries to create the snapshot event after n events
    snapshotThreshold: 16
    # limits number of try to store event
    occMaxRetry: 8
    use: mongoDB
    mongoDB:
      uri:
      database: eventStore
      # limits number of connections.
      maxPoolSize: 16
      # close connection when idle time reach the value.
      maxConnIdleTime: 4m0s
      tls:
        caPool: "/secrets/public/rootca.crt"
        keyFile: "/secrets/private/cert.key"
        certFile: "/secrets/public/cert.crt"
        useSystemCAPool: false
    cqlDB:
      table: events
      hosts: []
      port: 9142
      numConnections: 16
      connectTimeout: 10s
      useHostnameResolution: true
      reconnectionPolicy:
        constant:
          interval: 3s
          maxRetries: 3
      keyspace:
        name: plgdhub
        create: true
        replication:
          class: SimpleStrategy
          replication_factor: 1
      tls:
        caPool: "/secrets/public/rootca.crt"
        keyFile: "/secrets/private/cert.key"
        certFile: "/secrets/public/cert.crt"
        useSystemCAPool: false

  identityStore:
    grpc:
      address: ""
      sendMsgSize: 4194304
      recvMsgSize: 4194304
      tls:
        caPool: "/secrets/public/rootca.crt"
        keyFile: "/secrets/private/cert.key"
        certFile: "/secrets/public/cert.crt"
        useSystemCAPool: false
      keepAlive:
        time: 10s
        timeout: 20s
        permitWithoutStream: true
  openTelemetryCollector:
    grpc:
      enabled: false
      address: ""
      sendMsgSize: 4194304
      recvMsgSize: 4194304
      keepAlive:
        time: 10s
        timeout: 20s
        permitWithoutStream: true
      tls:
        caPool: "/secrets/public/rootca.crt"
        keyFile: "/secrets/private/cert.key"
        certFile: "/secrets/public/cert.crt"
        useSystemCAPool: false
