@import '@/common/styles/colors.scss';

.tree-expander {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid $secondary_25;
  color: $primary_100;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 8px;
  margin-right: 8px;
  transition: all 0.2s ease 0s;
  z-index: 1;

  &.expanded {
    color: $light_100;
    background-color: $primary_100;
    border-color: $primary_100;
  }
}

.tree-expander-container {
  position: relative;
  display: flex;
  align-items: center;
  color: $primary_100;

  .tail {
    position: absolute;
    z-index: 0;
    border: 1px solid $secondary_25;
    border-top: 0;
    border-right: 0;
  }
}