@import '@/common/styles/colors.scss';

.tree-expander {
  position: relative;
  min-width: 18px;
  min-height: 18px;
  border: 1px solid $secondary_25;
  color: $primary_100;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 8px;
  margin-right: 8px;
  transition: all 0.2s ease 0s;
  z-index: 1;
  cursor: pointer;

  &.expanded {
    color: $light_100;
    background-color: $primary_100;
    border-color: $primary_100;
  }
}

.tree-expander-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $primary_100;
}

.reveal-icon-on-hover {
  position: relative;
  padding-right: 25px;
  z-index: 1;

  & + i.fas {
    position: absolute;
    right: 0;
    opacity: 0;
    z-index: 0;
  }

  &:hover {
    & + i.fas {
      opacity: 1;
    }
  }
}