{{- if .Values.httpgateway.enabled }}
{{- $rdServiceCert := "/certs" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "plgd-hub.httpgateway.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "plgd-hub.labels" . | nindent 4 }}
    {{- with .Values.httpgateway.deploymentLabels }}
    {{- . | toYaml | nindent 4 }}
    {{- end }}
  {{- with .Values.httpgateway.deploymentAnnotations }}
  annotations:
  {{- . | toYaml | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ include "plgd-hub.replicas" (list $ .Values.httpgateway.replicas) }}
  selector:
    matchLabels:
      {{- include "plgd-hub.httpgateway.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.httpgateway.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "plgd-hub.httpgateway.selectorLabels" . | nindent 8 }}
    spec:
      automountServiceAccountToken: false
      {{- with .Values.httpgateway.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.httpgateway.rbac.enabled }}
      serviceAccountName: {{ .Values.httpgateway.rbac.serviceAccountName }}
      {{- end }}
      {{- with .Values.httpgateway.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: {{ .Values.httpgateway.restartPolicy }}
      {{- if .Values.httpgateway.initContainersTpl }}
      initContainers:
      {{- tpl .Values.httpgateway.initContainersTpl . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.httpgateway.name }}
          {{- with .Values.httpgateway.podSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "plgd-hub.image" (list . .Values.httpgateway) | quote }}
          imagePullPolicy: {{ .Values.httpgateway.image.pullPolicy }}
          {{- if .Values.httpgateway.command }}
          command:
          {{- range .Values.httpgateway.command  }}
            - {{ . | quote }}
          {{- end }}
          {{- end }}
          args:
            - "--config"
            - {{  printf "%s/%s" .Values.httpgateway.config.mountPath .Values.httpgateway.config.fileName | quote }}
          ports:
            - name: http
              containerPort: {{ .Values.httpgateway.port }}
              protocol: TCP
          {{- with .Values.httpgateway.livenessProbe }}
          livenessProbe:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.httpgateway.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.httpgateway.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: {{ .Values.httpgateway.config.volume }}
              mountPath: {{ .Values.httpgateway.config.mountPath }}
            {{- if ( include "plgd-hub.httpgateway.setCustomTheme" . ) }}
            - name: theme-volume
              mountPath: {{ printf "%s/theme" .Values.httpgateway.ui.directory }}
            {{- end }}
            {{- if ( include "plgd-hub.httpgateway.createServiceCertByCm" . ) }}
            - name: service-crt
              mountPath: {{ $rdServiceCert }}
            {{- end }}
            {{- include "plgd-hub.extraCAPoolMount" (list . .Values.extraCAPool.authorization) | nindent 12 }}
            {{- include "plgd-hub.extraCAPoolMount" (list . .Values.extraCAPool.internal) | nindent 12 }}
            {{- include "plgd-hub.crlMount" (list . .Values.crl.authorization) | nindent 12 }}
            {{- include "plgd-hub.crlMount" (list . .Values.crl.internal) | nindent 12 }}
            {{- with .Values.httpgateway.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- if .Values.httpgateway.extraContainers }}
      {{- include "plgd-hub.tplvalues.render" ( dict "value" .Values.httpgateway.extraContainers "context" $ ) | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ .Values.httpgateway.config.volume }}
          configMap:
            name: {{ include "plgd-hub.httpgateway.configName" . }}
        {{- if ( include "plgd-hub.httpgateway.setCustomTheme" . ) }}
        - name: theme-volume
          configMap:
            name: {{ include "plgd-hub.httpgateway.configThemeName" . }}
        {{- end }}
        {{- if ( include "plgd-hub.httpgateway.createServiceCertByCm" . ) }}
        - name: service-crt
          secret:
            secretName: {{ include "plgd-hub.httpgateway.serviceCertName" . }}
        {{- end }}
        {{- include "plgd-hub.extraCAPoolVolume" (list . .Values.extraCAPool.authorization) | nindent 8 }}
        {{- include "plgd-hub.extraCAPoolVolume" (list . .Values.extraCAPool.internal) | nindent 8 }}
        {{- include "plgd-hub.crlVolume" (list . .Values.crl.authorization) | nindent 8 }}
        {{- include "plgd-hub.crlVolume" (list . .Values.crl.internal) | nindent 8 }}
        {{- with .Values.httpgateway.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.httpgateway.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.httpgateway.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.httpgateway.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
