@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

.label {
  display: block;
  margin-bottom: 10px;
  position: relative;

  .label-data {
    display: flex;
    flex-direction: column;
  }

  &.inline {
    margin-bottom: 0;
    cursor: auto;

    .label-data {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      min-height: 34px;
      border-bottom: 1px solid $secondary_20;
      box-sizing: border-box;
      padding: 6px 0;
    }

    .label-title {
      margin: 0;
      font-size: $font_size;
      padding-right: 20px;
    }
  }

  .label-title {
    font-size: $font_size_small;
    text-align: left;
    margin-bottom: 5px;

    .required {
      display: inline-block;
      margin-left: 2px;
      color: $primary_100;
    }

    &.has-error {
      .required {
        color: $error_100;
      }
    }
  }

  .label-error-message {
    color: $error_100;
    margin-top: 5px;
    font-size: $font_size_small;
  }
}
