@import '@/common/styles/colors.scss';
@import '@/common/styles/sizes.scss';

$margin_size: 5px;

.badge {
  text-transform: lowercase;
  font-size: $font_size_small;
  padding: 2px 7px;
  font-weight: 400;
  white-space: nowrap;
  color: $primary_100;
  background-color: $light_100;
  box-sizing: border-box;
  border: 1px solid $secondary_20;

  // Margin horizontal
  &.mh-l {
    margin-left: $margin_size;
  }
  &.mh-r {
    margin-right: $margin_size;
  }

  // Margin vertical
  &.mv-t {
    margin-top: $margin_size;
  }
  &.mv-b {
    margin-bottom: $margin_size;
  }

  &.green {
    background-color: $success_50;
    color: $success_100;
    border-color: $success_50;
  }

  &.red {
    background-color: $error_50;
    color: $error_100;
    border-color: $error_50;
  }

  &.orange {
    background-color: $warning_50;
    color: $warning_100;
    border-color: $warning_50;
  }
}

.badges-box-vertical {
  display: flex;
  flex-direction: column;

  span.badge {
    margin-bottom: $margin_size;

    &:last-child {
      margin: 0;
    }
  }
}

.badges-box-horizontal {
  display: flex;
  flex-direction: row;

  span.badge {
    margin-right: $margin_size;

    &:last-child {
      margin: 0;
    }
  }
}
