name: Delete old ghcr images
on:
  schedule:
    - cron: "15 1 * * *" # every day at 1:15am
  pull_request:
    types: [closed]
  push:

jobs:
  pull-request-ghcr-cleanup:
    if: ${{ github.event_name == 'pull_request' }}
    name: Delete images related to closed PR
    runs-on: ubuntu-latest
    steps:
      - name: Delete images related to closed PR
        uses: snok/container-retention-policy@v2
        with:
          image-names: hub/*
          cut-off: now UTC
          account-type: org
          org-name: plgd-dev
          filter-tags: vnext-pr${{ github.event.pull_request.number }}*
          token: ${{ secrets.TEST_GHCR_CLEANUP_PAT }}
  nightly-ghcr-cleanup:
    # if: ${{ github.event_name == 'schedule' }}
    name: Delete old vnext images
    runs-on: ubuntu-latest
    steps:
      - name: Delete older than a month vnext images
        uses: snok/container-retention-policy@v2
        with:
          image-names: hub/*
          cut-off: One month ago UTC
          account-type: org
          org-name: plgd-dev
          filter-tags: vnext-*
          skip-tags: vnext-pr*, main
          token: ${{ secrets.TEST_GHCR_CLEANUP_PAT }}
